@font-face {
  font-family: Jack-Simba;
  src: url(../fonts/jack_simba/Jack-Simba.otf);
}

@font-face {
  font-family: Sweet-Talk;
  src: url(../fonts/sweet_talk/Sweet\ Talk.otf);
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

body {
  background-color: #e0aaff;
  background-image: url("https://www.transparenttextures.com/patterns/blu-stripes.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-family: Sweet-Talk, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jack-Simba', 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0;
}

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.6rem; }

h5 {
  font-size: 2.4rem; }

h6 {
  font-size: 2.2rem; }

input:focus {
  outline: none;
}

.banner {
  height: 120px;
  display: flex;
  align-items: center;
  color: #fff;
  text-shadow: 6px 3px #000;
  font-size: 3.6rem;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid grey;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0, .8);
}

.banner.morning {
  background-image: url('../images/banner-images/morning.jpg');
}

.banner.morning.cloudy {
  background-image: url('../images/banner-images/morning-cloudy.jpg');
}

.banner.morning.rain {
  background-image: 
                    url('../images/banner-images/rain.gif'), 
                    url('../images/banner-images/morning-rainy.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.morning.snow {
  background-image: 
                    url('../images/banner-images/snow.gif'), 
                    url('../images/banner-images/morning-rainy.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.afternoon {
  background-image: url('../images/banner-images/afternoon.jpg');
}

.banner.afternoon.cloudy {
  background-image: url('../images/banner-images/afternoon-cloudy.jpg');
}

.banner.afternoon.rain {
  background-image: 
                    url('../images/banner-images/rain.gif'), 
                    url('../images/banner-images/afternoon-rain.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.afternoon.snow {
  background-image: 
                    url('../images/banner-images/snow.gif'), 
                    url('../images/banner-images/afternoon-rain.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.twilight {
  background-image: url('../images/banner-images/twilight.jpg');
}

.banner.twilight.rain {
  background-image: url('../images/banner-images/rain.gif'), url('../images/banner-images/twilight.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.twilight.snow {
  background-image: url('../images/banner-images/snow.gif'), url('../images/banner-images/twilight.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.night {
  background-image: url('../images/banner-images/night.jpg');
}

.banner.night.cloudy {
  background-image: url('../images/banner-images/night-cloudy.jpg');
}

.banner.night.rain {
  background-image: url('../images/banner-images/rain.gif'), url('../images/banner-images/night-cloudy.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.night.snow {
  background-image: url('../images/banner-images/snow.gif'), url('../images/banner-images/night-cloudy.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, .4);
  padding: 8px 8px;
  margin-bottom: 1.4rem;
  background-color: #9D4EDD;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.softcard-container {
  border: 3px dashed #c77dff;
  border-radius: 12px;
  padding: 1.4rem 1.4rem;
}

.toast-error {
  background-color: #f17863;
  border: 1px solid #d45842;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dayplanner-container {
  padding: 0;
  height: 100%; }

.timeblock-row {
  white-space: pre-wrap;
  border-bottom: 1px solid #3C096C; }
  .timeblock-row:last-child {
    border-bottom: none; }
  .timeblock-row:nth-child(even) {
    background-color: rgb(0, 0, 0, .05) }
  .timeblock-row textarea {
    background-color: transparent;
    color: black;
    font-size: 1.4rem }
    /* .past {
      display: none } */

.hour {
  align-self: center;
}

.description {
  white-space: pre-wrap; }
  .description textarea {
    color: #240541;
    border: none;
    border-left: 1px solid #3C096C;
    border-radius: 0;
    outline: none; 
    padding: 10px;
    width: 100%;
    height: 100%;
    resize: none;  }
    .description textarea:focus {
      background-color: transparent}

.weather-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.weather-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4; }
  .weather-icons li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c77dff;
    background-color: #5A189A;
    width: 64px;
    height: 64px;
    margin-left: 15px;
    border-radius: 30px; }
    .weather-icons .current-weather {
      background-color: #00afdb; }
    .weather-icons .current-weather .weather-badge {
      background-color: #00afdb;
      border-color: #fff;
      color: #fff }

.current-weather [data-icon="sun"] {
  color: #ffbc42 }
.current-weather [data-icon="cloud"],
.current-weather [data-icon="wind"] {
  color: #e7f9ff }
.current-weather [data-icon="cloud-showers-heavy"] {
  color: #19529e }
.current-weather [data-icon="bolt"] {
  color: #ffbc42 }

.weather-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c77dff;
  background-color: #5A189A;
  width: 56px;
  height: 56px;
  border: 2px dashed #c77dff;
  border-radius: 30px; 
}

            


.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 1rem;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border: 3px dashed #c77dff;
  border-radius: 12px;
  outline: none;
  background: #ab5cec;
  color: #fff;
  font-size: 1.6rem }
  .todo-input:focus {
    outline: none;
    background: #ab5cec; }

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  padding: 16px;
  border: 3px dashed #c77dff;
  border-radius: 5px;
  width: 100%;
  background: rgb(192,121,250);
  background: linear-gradient(180deg, 
              rgba(192,121,250,1) 0%, 
              rgba(171,92,236,1) 85%);
}

.low {
  border: 3px dashed #8CE993;
}

.medium {
  border: 3px dashed #FFF683;
}

.high {
  border: 3px dashed #FF898A;
}

.todo-item.low .fa-exclamation-circle {
  color: #8CE993
}

.todo-item.medium .fa-exclamation-circle {
  color: #FFF683
}

.todo-item.high .fa-exclamation-circle {
  color: #FF898A
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.icons p {
  margin-bottom: 0;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.dropdown {
  height: 100%
}

.dropdown-toggle::after {
  vertical-align: middle;
}


/* Dropdown Button */
.dropbtn {
  background: #5A189A;
  border-radius: 4px;
  color: white;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  border: none;
}

.dropbtn.low {
  background: rgb(117,235,126);
  background: linear-gradient(180deg, rgba(117,235,126,1) 0%, rgba(66,227,79,1) 85%);}

.dropbtn.medium {
  color: #000;
  background: rgb(255,244,108);
  background: linear-gradient(180deg, rgba(255,244,108,1) 0%, rgba(255,240,51,1) 85%);}

.dropbtn.high {
  background: rgb(255,113,114);
  background: linear-gradient(180deg, rgba(255,113,114,1) 0%, rgba(255,90,91,1) 85%);}

.glasses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  padding-left: 0;
  list-style: none; }
  .glasses li img {
    height: 100px;
    padding-right: 1rem
  }
