@font-face {
  font-family: Jack-Simba;
  src: url(../fonts/jack_simba/Jack-Simba.otf);
}

@font-face {
  font-family: Sweet-Talk;
  src: url(../fonts/sweet_talk/Sweet\ Talk.otf);
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

body {
  background-color: #e0aaff;
  background-image: url("https://www.transparenttextures.com/patterns/blu-stripes.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-family: Sweet-Talk, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jack-Simba', 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0;
}

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.6rem; }

h5 {
  font-size: 2.4rem; }

h6 {
  font-size: 2.2rem; }

input:focus {
  outline: none;
}

.banner {
  height: 120px;
  display: flex;
  align-items: center;
  color: #fff;
  text-shadow: 6px 3px #000;
  font-size: 3.6rem;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid grey;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0, .8);
}

.banner.morning {
  background-image: url('../images/banner-images/morning.jpg');
}

.banner.morning.clouds {
  background-image: url('../images/banner-images/morning-cloudy.jpg');
}

.banner.morning.rain {
  background-image: 
                    url('../images/banner-images/rain.gif'), 
                    url('../images/banner-images/morning-rainy.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.morning.snow {
  background-image: 
                    url('../images/banner-images/snow.gif'), 
                    url('../images/banner-images/morning-rainy.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.afternoon {
  background-image: url('../images/banner-images/afternoon.jpg');
}

.banner.afternoon.clouds {
  background-image: url('../images/banner-images/afternoon-cloudy.jpg');
}

.banner.afternoon.rain {
  background-image: 
                    url('../images/banner-images/rain.gif'), 
                    url('../images/banner-images/afternoon-rain.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.afternoon.snow {
  background-image: 
                    url('../images/banner-images/snow.gif'), 
                    url('../images/banner-images/afternoon-rain.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.twilight {
  background-image: url('../images/banner-images/twilight.jpg');
}

.banner.twilight.rain {
  background-image: url('../images/banner-images/rain.gif'), url('../images/banner-images/twilight.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.twilight.snow {
  background-image: url('../images/banner-images/snow.gif'), url('../images/banner-images/twilight.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.night {
  background-image: url('../images/banner-images/night.jpg');
}

.banner.night.clouds {
  background-image: url('../images/banner-images/night-cloudy.jpg');
}

.banner.night.rain {
  background-image: url('../images/banner-images/rain.gif'), url('../images/banner-images/night-cloudy.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.banner.night.snow {
  background-image: url('../images/banner-images/snow.gif'), url('../images/banner-images/night-cloudy.jpg');
  background-size: contain, cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, .4);
  padding: 8px 8px;
  margin-bottom: 1.4rem;
  background-color: #9D4EDD;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.softcard-container {
  border: 3px dashed #c77dff;
  border-radius: 12px;
  padding: 1.4rem 1.4rem;
}

.error-container {
  position: relative;
}

.toast-error {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f17863;
  border-radius: 12px;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, .4);
  padding: 8px 8px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.toast-body {
  display: flex;
  justify-content: center;
  border: 3px dashed #d45842;
  border-radius: 12px;
  padding: 1.4rem 1.4rem;
  width: 100%;
  font-family: Sweet-Talk, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
}

.dayplanner-container {
  padding: 0;
  height: 100%; }

.timeblock-row {
  flex-wrap: nowrap;
  white-space: pre-wrap;
  border-bottom: 1px solid #3C096C; }
  .timeblock-row:last-child {
    border-bottom: none; }
  .timeblock-row:nth-child(even) {
    background-color: rgb(0, 0, 0, .05) }
  .timeblock-row textarea {
    background-color: transparent;
    color: black;
    font-size: 1.4rem }
    /* .past {
      display: none } */

.hour {
  display:flex;
  justify-content: center;
  align-self: center;
  flex-wrap: nowrap;
}

.description {
  white-space: pre-wrap; }
  .description textarea {
    color: var(--bs-body-color);
    border: none;
    border-left: 1px solid #3C096C;
    border-radius: 0;
    outline: none; 
    padding: 10px;
    width: 100%;
    height: 100%;
    resize: none;  }
    .description textarea:focus {
      color: #000;
      background-color: transparent}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

@media only screen and (max-width: 991.98px) {
  .weather-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
}

.weather-container ul {
  align-self: center
}

.weather-icons {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4; }
  .weather-icons li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c77dff;
    background-color: #5A189A;
    width: 64px;
    height: 64px;
    /* margin-left: 15px; */
    border-radius: 30px; }
    .weather-icons #temp {
      font-size: 1.8rem }
    .weather-icons .current-weather {
      background-color: #00afdb; }
    .weather-icons .current-weather .weather-badge {
      background-color: #00afdb;
      border-color: #fff;
      color: #fff }

  @media (max-width: 1200px) { 
    .weather-icons {
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  @media (max-width: 384px) {
    .weather-icons {
      grid-template-columns: repeat(2, 1fr);
    }
  }

.current-weather [data-icon="sun"],
.current-weather [data-icon="bolt"] {
  color: #ffbc42 }
.current-weather [data-icon="cloud"],
.current-weather [data-icon="wind"] {
  color: #e7f9ff }
.current-weather [data-icon="cloud-showers-heavy"] {
  color: #19529e }

.weather-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c77dff;
  background-color: #5A189A;
  width: 56px;
  height: 56px;
  border: 2px dashed #c77dff;
  border-radius: 30px; 
}

            


.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 1rem;
}

@media (max-width: 1200px) { 
  .todo-form .row div:first-child {
    margin-bottom: 1rem;
  }
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border: 3px dashed #c77dff;
  border-radius: 12px;
  outline: none;
  background: #ab5cec;
  color: #fff;
  font-size: 1.6rem }
  .todo-input:focus {
    outline: none;
    background: #ab5cec; }

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  border: 3px dashed #c77dff;
  border-radius: 5px;
  width: 100%;
  background: rgb(192,121,250);
  background: linear-gradient(180deg, 
              rgba(192,121,250,1) 0%, 
              rgba(171,92,236,1) 85%);
}

.low {
  border: 3px dashed #8CE993;
}

.medium {
  border: 3px dashed #FFF683;
}

.high {
  border: 3px dashed #FF898A;
}

.todo-item > div:first-child {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  width:100%;
}

.todo-item.low > div:first-child svg {
  color: #8CE993
}

.todo-item.medium > div:first-child svg {
  color: #FFF683
}

.todo-item.high > div:first-child svg {
  color: #FF898A
}

.icons {
  display: flex;
  align-items: center;
  padding-right: 16px;
  font-size: 24px;
  cursor: pointer;
}

.icons p {
  margin-bottom: 0;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.dropdown {
  height: 100%
}

.dropdown-toggle::after {
  vertical-align: middle;
}


/* Dropdown Button */
.dropbtn {
  background: #5A189A;
  border-radius: 4px;
  color: white;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  border: none;
}

.dropbtn.low {
  background: rgb(117,235,126);
  background: linear-gradient(180deg, rgba(117,235,126,1) 0%, rgba(66,227,79,1) 85%);}

.dropbtn.medium {
  color: #000;
  background: rgb(255,244,108);
  background: linear-gradient(180deg, rgba(255,244,108,1) 0%, rgba(255,240,51,1) 85%);}

.dropbtn.high {
  background: rgb(255,113,114);
  background: linear-gradient(180deg, rgba(255,113,114,1) 0%, rgba(255,90,91,1) 85%);}

.glasses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  padding-left: 0;
  list-style: none; }
  .glasses li img {
    height: 100px;
    padding-right: 1rem
  }
